{% extends 'base.html' %}

{% block title %}Home - MySocial{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">MySocial</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <form class="d-flex" action="/search" method="POST">
                             {% csrf_token %}
                            <input class="form-control me-2" type="text" name="username" placeholder="Search users" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{ user.username }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post-settings">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mt-4">
        <div class="row">
            <!-- Posts from followed users -->
            <div class="col-md-8">
                <h2>NEWSFEED</h2>
                {% for post in posts reversed %}
                    <div class="card mycard">
                        <div class="post">
                            <div class="post-header">
                                <h3><a href="/profile/{{ post.user }}" class="profile-link">{{ post.user }}</a></h3>
                            </div>
                            <div class="mycardimg">
                                <img src="{{ post.image.url }}" alt="">
                            </div>
                            <div class="post-date">
                                <p>{{ post.date }}</p>
                            </div>
                            <div class="post-info">
                                <div>
                                    <a href="/like-post?post_id={{ post.id }}" class="btn btn-outline-primary btn-sm like-button">Like</a>
                                    {% if post.no_of_likes == 0 %}
                                        <span class="likes" id="likes{{ post.id }}">Be the first one to like this post</span>
                                    {% elif post.no_of_likes == 1 %}
                                        <span class="likes" id="likes{{ post.id }}">1 person likes this post</span>
                                    {% else %}
                                        <span class="likes" id="likes{{ post.id }}">{{ post.no_of_likes }} people like this post</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="post-content">
                                <p>
                                    <a href="/"><strong>{{ post.user }}:</strong></a> {{ post.caption }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Suggested profiles to follow -->
            <div class="col-md-4">
                <h2>Suggested profiles to follow</h2>
                <!-- Add code here to display suggested profiles -->
                {% for suggestion in suggestions_username_profile_list %}
                    <div class="row">
                        <div class="col-2">
                            <a href="/profile/{{ suggestion.user }}" ><img class="round-profile-picture" src="{{ suggestion.profileimg.url }}" alt="No photo yet"></a>
                        </div>
                        <div class="col-7">
                            <p class="suggested-user">@{{ suggestion.user }}</p>
                        </div>
                        <div class="col-sm-3 text-align-center">
                            <a href="/profile/{{suggestion.user}}" class="btn btn-primary btn-block">Visualizza profilo</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
