{% extends 'base.html' %}

{% block title %}Create Post - MySocial{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3 h1-account-settings"><a href="/" class="account-settings-title">Home</a> / Account Settings for <a href="/profile/{{ user.username }}" class="account-settings-title"><b>{{ user.username }}</b></a></h1>
        <br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Create Post</h2>
                <form action="upload" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="about" class="form-label">Caption:</label>
                        <textarea class="form-control" id="caption" name="caption" rows="3">{{ post.caption }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Post Image:</label>
                        <input type="file" class="form-control" id="image" name="image_upload" value="">
                    </div>
                    <button type="submit" name="button" class="btn btn-primary">Upload</button>
                    <a href="/" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
