{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h2>Risultati della ricerca</h2>

    {% for users in username_profile_list  %}
    <section class="search-result-item">
        <div class="row">
            <div class="col-sm-2">
                <a href="/profile/{{users.user}}"><img class="profile_pic" src="{{users.profileimg.url}}" alt=""></a>
            </div>
            <div class="col-sm-7">
                <h3><a class="search" href="/profile/{{users.user}}">@{{users.user}}</a></h3>
                <p class="search-bio">{{users.bio}}</p>
                <p class="search-location" >{{ users.location }}</p>
            </div>
            <div class="col-sm-3 text-align-center">
                <a href="/profile/{{users.user}}" class="btn btn-primary btn-block">Visualizza profilo</a>
            </div>
        </div>
    </section>
    {% endfor %}

</div>

{% endblock %}
