{% extends 'base.html' %}

{% block title %}Settings - MySocial{% endblock %}

{% block content %}
    <div class="container container-account-settings">
        <h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3 h1-account-settings"><a href="/" class="account-settings-title">Home</a> / Account Settings for <a href="/profile/{{ user.username }}" class="account-settings-title"><b>{{ user.username }}</b></a></h1>
        <br>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="h2-account-settings">Profile Settings</h2>
                <form method="POST" enctype="multipart/form-data" class="form-account-settings">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user_profile.user.username }}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user_profile.user.email }}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="profile-image" class="form-label">Profile Image</label>
                        <input type="file" class="form-control" id="profile-image" name="image">
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" name="bio" rows="3">{{ user_profile.bio }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" value="{{ user_profile.location }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="/profile/{{ user_profile.user.username }}" class="btn btn-secondary">Back to Profile</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
